nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #ffa500;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 2px solid #000;
    box-shadow: 0 0 10px #000;
  }
  
  nav a:hover {
    color: #333;
  }  
  
  nav a {
    color: #ffa500;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 18px;
  }
  
  header {
    background-color: #fff;
    color: #bbc2c2;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 20px;
    text-align: center;
    border: 2px solid #bbc2c2;
    box-shadow: 0 0 10px #bbc2c2;
  }
  
  header h1 {
    color: #333;
    margin: 0;
  }
  
  header h2 {
    color: #333;
    margin: 0;
  }
  
  .logo-section img {
    max-width: 150px; 
    max-height: 150px; 
  }

  body {
    background-color: #fff;
    color: #ffa500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
  }

  #header11 {
    color: #333;
  }  
  #contact {
    background-color: #fff;
    color: #ffa500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 20px;
  }
  
  #bio {
    background-color: #fff;
    color: #ffa500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 20px;
  }

  #image {
    position: absolute;
    top: 2%;
    right: 30px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 1px solid #BBC2C2;
  }    
  
  #image img {
    width: 100%;
  }

  #contactme {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #ffa500;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  #contactme:hover {
    background-color: #fff;
    color: #333;
    transform: scale(1.1);
  }
  
  #contactme:active {
    background-color: #333;
    color: #fff;
    transform: scale(1);
  }  
  
  footer {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #fff;
    box-shadow: 0 0 10px #fff;
  }
  
  footer a {
    color: #ffa500;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #fff;
  }

  a {
    color: #333; /* this will make the links the color #B8860B */
    transition: all 0.5s; /* this will add a 0.5 second transition to all properties of the link when it is hovered over */
  }
  a:hover {
    color: #ffa500; /* this will change the link color to yellow when the mouse is hovering over it */
    transform: scale(1.2); /* this will make the link grow by 20% when the mouse is hovering over it */
  }
  

  #back-to-top {
    background-color: #333;
    border: none;
    border-radius: 4px;
    color: #ffa500;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    transition: all 0.3s ease;
  }
  
  #back-to-top:hover {
    background-color: rgb(250, 247, 247);
    color: #333;
    transform: scale(1.1);
  }
  
  #back-to-top:active {
    background-color: rgb(255, 253, 253);
    color: #333;
    transform: scale(1);
  }
  
  #mode-toggle-container {
    position: absolute;
    left: 60px;
    overflow: hidden;
    top: 2%;
  }
  
  #mode-toggle {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffa500;
    border-radius: 4px;
    font-weight: bold;
    border: 2px solid #ffa500; 
  }
  